.MenuDropDown{
    /* border: 1px solid blue; */
    background-color: transparent;
    border: none;
    width: 100%;
    

}

.MenuDropDown span{
    display: block;
    width: 90%;
    height: 100%;
    text-align: start;
}